* {
	border : #292e42;
	border: #33467c;
	background:			#1a1b26;
	background-alt:			#1a1b26;
	brdr:              		#292e42;
    foreground:			#c0caf5;
    foresel:            		#7dcfff;
    selected:			#33467c;
	urgent:				#db4b4b;
	on:				#9ece6a;
	off:				#f7768e;
    neon: #73daca;
}
